.login-page {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
  }
  
  .login-page .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  
  .btn {
    padding: 5rem 2rem;
    color: white;
    /* width: fit-content; */
    border: none;
    margin: 1rem;
    outline: none;
    font-size: 1rem;
    font-weight: 5px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .btn-dark {
    background-color: var(--color-dark);
    color: var(--color-white);
  }
  
  .signup-link {
    text-align: center;
  }
  
  .input-field {
    padding: 0.5rem;
    outline: none;
    border-radius: 5px;
  }
  
  .load {
     margin-top:1rem;
    }
  
  @media only screen and (min-width: 768px) {
    .login-page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0 auto;
    }
  }