/* header {
  margin: 0px;
  padding: 0px;
} */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  gap: 1rem;
}

.links Link{
    text-decoration:none;
}
.header h1 {
  font-size: 20px;
  color: rgb(197, 181, 181);
}
